# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
bioc_required: true
warnings_are_errors: true
after_success:
  - Rscript -e 'covr::codecov(type = "all")'

env:
  global:
  - R_REMOTES_NO_ERRORS_FROM_WARNINGS=true

os:
  - linux
  - osx
